# PowerShell module directories
**/packages/*
**/bin/*
**/obj/*

# Local configuration files
*.user
*.suo

# Logs and temp files
*.log
[Ll]ogs/
[Tt]emp/
[Oo]utput/
.vscode/
.vs/

# PowerShell-specific files
*.psm1.dll
*.psm1.locked.json

# Secrets and configuration
*.secret
*.config
**/Credentials/*

# Runtime files
*.tmp
*.lnk

# .log files
*.log

# .marker files
*.marker

# .env files
*.env

# Ignore everything in Development\Git\Generate-GitHistory directory
Development/Git/Generate-GitHistory
Development\Git\Generate-GitHistory

# .csv files
*.csv

# .txt files
*.txt

# html files
*.html